html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

#box {
    width: 700px;
}

#room {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
